.status_indicator {
	&.si_message_macros .statusindicator {
		<xf:macro template="at_si_macro" name="at_si_position_indicator"
				  arg-width="14px" arg-height="14px" arg-position="absolute"
				  arg-topleftTop="-1px" arg-topleftLeft="-1px"
				  arg-toprightTop="-1px" arg-toprightLeft="83px"
				  arg-bottomleftTop="83px" arg-bottomleftLeft="-1px"
				  arg-bottomrightTop="83px" arg-bottomrightLeft="83px" />
		
		&:after{
			position: relative;
			top: -14px;
			left: -13px;
			display: block;
			width: 42px;
			height: 42px;
		}
	}
	&.si_member_tooltip .statusindicator {
		<xf:macro template="at_si_macro" name="at_si_position_indicator"
				  arg-width="10px" arg-height="10px" arg-position="absolute"
				  arg-topleftTop="5px" arg-topleftLeft="5px"
				  arg-toprightTop="5px" arg-toprightLeft="45px"
				  arg-bottomleftTop="45px" arg-bottomleftLeft="5px"
				  arg-bottomrightTop="45px" arg-bottomrightLeft="45px" />
		
		&:after{
			position: relative;
			top: -11px;
			left: -11px;
			display: block;
			width: 32px;
			height: 32px;
		}
	}
	&.si_member_view .statusindicator {
		<xf:macro template="at_si_macro" name="at_si_position_indicator"
				  arg-width="15px" arg-height="15px" arg-position="relative"
				  arg-topleftTop="-193px" arg-topleftLeft="-1px"
				  arg-toprightTop="-193px" arg-toprightLeft="179px"
				  arg-bottomleftTop="-14px" arg-bottomleftLeft="-1px"
				  arg-bottomrightTop="-14px" arg-bottomrightLeft="179px" />
		
		&:after{
			position: relative;
			top: -14px;
			left: -13px;
			display: block;
			width: 42px;
			height: 42px;
		}
	}
	&.si_thread_list_macros .statusindicator {
		<xf:macro template="at_si_macro" name="at_si_position_indicator"
			  arg-width="10px" arg-height="10px" arg-position="relative"
			  arg-topleftTop="-36px" arg-topleftLeft="-1px"
			  arg-toprightTop="-36px" arg-toprightLeft="26px"
			  arg-bottomleftTop="-10px" arg-bottomleftLeft="0px"
			  arg-bottomrightTop="-10px" arg-bottomrightLeft="26px" />
		
		&:after{
			position: relative;
			top: -11px;
			left: -11px;
			display: block;
			width: 32px;
			height: 32px;
		}
	}
	@media (max-width: @xf-publicNavCollapseWidth)
	{
		&.si_message_macros .statusindicator {
			<xf:macro template="at_si_macro" name="at_si_position_indicator"
				  arg-width="10px" arg-height="10px" arg-position="absolute"
				  arg-topleftTop="-1px" arg-topleftLeft="-1px"
				  arg-toprightTop="-1px" arg-toprightLeft="39px"
				  arg-bottomleftTop="39px" arg-bottomleftLeft="-1px"
				  arg-bottomrightTop="39px" arg-bottomrightLeft="39px" />
			border: 5px solid transparent;
		
			&:after{
				position: relative;
				top: -16px;
				left: -16px;
				display: block;
				width: 32px;
				height: 32px;
			}
		}
		&.si_member_view .statusindicator {
			<xf:macro template="at_si_macro" name="at_si_position_indicator"
				  arg-width="10px" arg-height="10px" arg-position="relative"
				  arg-topleftTop="-98px" arg-topleftLeft="-1px"
				  arg-toprightTop="-98px" arg-toprightLeft="87px"
				  arg-bottomleftTop="-9px" arg-bottomleftLeft="-1px"
				  arg-bottomrightTop="-9px" arg-bottomrightLeft="87px" />
			border: 5px solid transparent;
		
			&:after{
				position: relative;
				top: -16px;
				left: -16px;
				display: block;
				width: 32px;
				height: 32px;
			}
		}
		&.si_thread_list_macros .statusindicator {
			<xf:macro template="at_si_macro" name="at_si_position_indicator"
				  arg-width="10px" arg-height="10px" arg-position="relative"
				  arg-topleftTop="-37px" arg-topleftLeft="-1px"
				  arg-toprightTop="-37px" arg-toprightLeft="27px"
				  arg-bottomleftTop="-9px" arg-bottomleftLeft="-1px"
				  arg-bottomrightTop="-9px" arg-bottomrightLeft="27px" />
			border: 5px solid transparent;
		
			&:after{
				position: relative;
				top: -16px;
				left: -16px;
				display: block;
				width: 32px;
				height: 32px;
			}
		}
	}
	@media (max-width: @xf-responsiveNarrow)
		{
		&.si_member_view .statusindicator {
			display: none;
		}
	}

	& .statusindicator {
		display: block;
		content: '';
		border-radius: 50%
	}
	& .statusindicator:after {
		content: '';
		border-radius: 50%;
		-webkit-transform: scale(0);
		-webkit-animation: online 2.5s ease-in-out infinite;
		animation: online 2.5s ease-in-out infinite
	}		
	&.si_member_view .statusindicator:after {
	}
	&.status_indicator--online .statusindicator {
		background: @xf-at_si_online_color;

		&:after {
			box-shadow: 0 0 4px @xf-at_si_online_color, inset 0 0 4px @xf-at_si_online_color;
		}
	}
	&.status_indicator--invisible .statusindicator {
		background: @xf-at_si_invisible_color;

		&:after {
			box-shadow: 0 0 4px @xf-at_si_invisible_color, inset 0 0 4px @xf-at_si_invisible_color;
		}
	}
	&.status_indicator--offline .statusindicator {
		background: @xf-at_si_offline_color;

		&:after {
			box-shadow: 0 0 4px @xf-at_si_offline_color, inset 0 0 4px @xf-at_si_offline_color;
		}
	}
}

@-webkit-keyframes online {
	0% {opacity: 1;-webkit-transform: scale(0)}
	50% {opacity: .7}
	100% {opacity: 0;-webkit-transform: scale(1)}
}
@keyframes online {
	0% {opacity: 1;transform: scale(0)}
	50% {opacity: .7}
	100% {opacity: 0;transform: scale(1)}
}