.status_indicator {
	
	&.si_message_macros .statusindicator {
		position: absolute;
		left: 50%;
		margin-left: -.615em;
		bottom: -.5em;
	}
	&.si_member_tooltip .statusindicator {
		position: relative;
		left: 47%;
		margin-left: -.615em;
		bottom: .7em;
	}
	&.si_member_view .statusindicator {
		position: relative;
		left: -49%;
		margin-left: -.615em;
		bottom: -12em;
	}
	&.si_thread_list_macros .statusindicator {
		position: absolute;
		left: 20%;
		margin-left: -.615em;
		bottom: -.5em;
	}
	@media (max-width: @xf-responsiveNarrow)
		{
		&.si_message_macros .statusindicator {
			left: auto;
			right: 0;
		}
		&.si_member_tooltip .statusindicator {
			position: absolute;
			top: 57px;
			left: 39px;
		}
		&.si_member_view .statusindicator {
			left: -50px;
			top: 82px;
		}
	}
	
	& .statusindicator:before {
		.m-faBase();
		.m-faContent(@fa-var-user-circle);
		line-height: 1;
		font-weight: bold;
		background: @xf-messageUserBlock--background-color;
		border: @xf-messageUserBlock--background-color solid 2px;
		border-radius: 50%;
		display: inline-block;
	}

	&.status_indicator--online .statusindicator:before {
		color: @xf-at_si_online_color;
	}

	&.status_indicator--invisible .statusindicator {
		color: @xf-at_si_invisible_color;
	}

	&.status_indicator--offline .statusindicator {
		color: @xf-at_si_offline_color;
	}
}