.status_indicator {
	&.si_message_macros .statusindicator {
		<xf:macro template="at_si_macro" name="at_si_position_indicator"
				  arg-width="14px" arg-height="14px" arg-position="absolute"
				  arg-topleftTop="-1px" arg-topleftLeft="-1px"
				  arg-toprightTop="-1px" arg-toprightLeft="83px"
				  arg-bottomleftTop="83px" arg-bottomleftLeft="-1px"
				  arg-bottomrightTop="83px" arg-bottomrightLeft="83px" />
		border: 7px solid transparent;
	}
	&.si_member_tooltip .statusindicator {
		<xf:macro template="at_si_macro" name="at_si_position_indicator"
				  arg-width="10px" arg-height="10px" arg-position="relative"
				  arg-topleftTop="-49px" arg-topleftLeft="-1px"
				  arg-toprightTop="-47px" arg-toprightLeft="39px"
				  arg-bottomleftTop="-9px" arg-bottomleftLeft="-1px"
				  arg-bottomrightTop="-9px" arg-bottomrightLeft="39px" />
		border: 5px solid transparent;
	}
	&.si_member_view .statusindicator {
		<xf:macro template="at_si_macro" name="at_si_position_indicator"
				  arg-width="20px" arg-height="20px" arg-position="relative"
				  arg-topleftTop="-193px" arg-topleftLeft="-1px"
				  arg-toprightTop="-193px" arg-toprightLeft="171px"
				  arg-bottomleftTop="-21px" arg-bottomleftLeft="-1px"
				  arg-bottomrightTop="-21px" arg-bottomrightLeft="171px" />
		border: 11px solid transparent;
	}
	&.si_thread_list_macros .statusindicator {
		<xf:macro template="at_si_macro" name="at_si_position_indicator"
				  arg-width="10px" arg-height="10px" arg-position="relative"
				  arg-topleftTop="-37px" arg-topleftLeft="-1px"
				  arg-toprightTop="-37px" arg-toprightLeft="27px"
				  arg-bottomleftTop="-9px" arg-bottomleftLeft="-1px"
				  arg-bottomrightTop="-9px" arg-bottomrightLeft="27px" />
		border: 5px solid transparent;
	}
	@media (max-width: @xf-responsiveMedium)
	{
		&.si_message_macros .statusindicator {
			<xf:macro template="at_si_macro" name="at_si_position_indicator"
				  arg-width="14px" arg-height="14px" arg-position="absolute"
				  arg-topleftTop="-1px" arg-topleftLeft="-1px"
				  arg-toprightTop="-1px" arg-toprightLeft="35px"
				  arg-bottomleftTop="35px" arg-bottomleftLeft="-1px"
				  arg-bottomrightTop="35px" arg-bottomrightLeft="35px" />
			border: 7px solid transparent;
		}
		&.si_member_view .statusindicator {
			<xf:macro template="at_si_macro" name="at_si_position_indicator"
				  arg-width="20px" arg-height="20px" arg-position="relative"
				  arg-topleftTop="-98px" arg-topleftLeft="-1px"
				  arg-toprightTop="-98px" arg-toprightLeft="75px"
				  arg-bottomleftTop="-21px" arg-bottomleftLeft="-1px"
				  arg-bottomrightTop="-21px" arg-bottomrightLeft="75px" />
			border: 11px solid transparent;
		}
		&.si_thread_list_macros .statusindicator {
			<xf:macro template="at_si_macro" name="at_si_position_indicator"
				  arg-width="10px" arg-height="10px" arg-position="relative"
				  arg-topleftTop="-37px" arg-topleftLeft="-1px"
				  arg-toprightTop="-37px" arg-toprightLeft="27px"
				  arg-bottomleftTop="-9px" arg-bottomleftLeft="-1px"
				  arg-bottomrightTop="-9px" arg-bottomrightLeft="27px" />
			border: 5px solid transparent;
		}
	}
	@media (max-width: @xf-responsiveNarrow)
		{
		&.si_member_view .statusindicator {
			display: none;
		}
	}
	
	@media (max-width: @xf-responsiveNarrow)
		{
		&.si_member_view .statusindicator {
			display: none;
		}
	}
	&.status_indicator--online .statusindicator {
		.xf-at_si_mage_online();
	}
	&.status_indicator--invisible .statusindicator {
		.xf-at_si_image_invisible();
	}
	&.status_indicator--offline .statusindicator {
		.xf-at_si_image_offline();
	}
}