<xf:if is="property('at_si_type') == 'default'">
	<xf:if is="$user AND $user.isOnline()">
		<span class="statusindicator" tabindex="0" data-xf-init="tooltip" data-trigger="auto" title="{{ phrase('online_now')|for_attr }}"></span>
		<xf:elseif is="$user AND !$user.visible AND $xf.visitor.canBypassUserPrivacy()" />
		<span class="statusindicator" tabindex="0" data-xf-init="tooltip" data-trigger="auto" title="{{ phrase('at_si_invisible')|for_attr }}"></span>
		<xf:elseif is="$user AND !$user.isOnline()" />
		<span class="statusindicator" tabindex="0" data-xf-init="tooltip" data-trigger="auto" title="{{ phrase('at_si_offline')|for_attr }}"></span>
	</xf:if>
</xf:if>

<xf:if is="property('at_si_type') == 'flashdot' 
		OR property('at_si_type') == 'image' 
		OR property('at_si_type') == 'pacman'">
	<xf:if is="$user AND $user.isOnline()">
		<span class="statusindicator" tabindex="0" data-xf-init="tooltip" data-trigger="auto" title="{{ phrase('online_now')|for_attr }}"></span>
		<xf:elseif is="$user AND !$user.visible AND $xf.visitor.canBypassUserPrivacy()" />
		<span class="statusindicator" tabindex="0" data-xf-init="tooltip" data-trigger="auto" title="{{ phrase('at_si_invisible')|for_attr }}"></span>		
		<xf:elseif is="$user AND !$user.isOnline()" />
		<span class="statusindicator" tabindex="0" data-xf-init="tooltip" data-trigger="auto" title="{{ phrase('at_si_offline')|for_attr }}"></span>
	</xf:if>
</xf:if>


<xf:if is="property('at_si_type') == 'banner'">
	<xf:if is="$user AND $user.isOnline()">
		<span class="statusindicator" tabindex="0" data-xf-init="tooltip" data-trigger="auto" title="{{ phrase('online_now')|for_attr }}">{{ phrase('online_now')|for_attr }}</span>
		<xf:elseif is="$user AND !$user.visible AND $xf.visitor.canBypassUserPrivacy()" />
		<span class="statusindicator" tabindex="0" data-xf-init="tooltip" data-trigger="auto" title="{{ phrase('at_si_invisible')|for_attr }}">{{ phrase('at_si_invisible')|for_attr }}</span>		
		<xf:elseif is="$user AND !$user.isOnline()" />
		<span class="statusindicator" tabindex="0" data-xf-init="tooltip" data-trigger="auto" title="{{ phrase('at_si_offline')|for_attr }}">{{ phrase('at_si_offline')|for_attr }}</span>
	</xf:if>
</xf:if>