.status_indicator.status_indicator--online .avatar:first-of-type {
	box-shadow: 0px 0px 10px 2px @xf-at_si_online_color;
}
.status_indicator.status_indicator--invisible .avatar:first-of-type {
	box-shadow: 0px 0px 10px 2px @xf-at_si_invisible_color;
}
.status_indicator.status_indicator--offline .avatar:first-of-type {
	box-shadow: 0px 0px 10px 2px @xf-at_si_offline_color;
}