.status_indicator {
	
	&.si_message_macros .statusindicator {
		<xf:macro template="at_si_macro" name="at_si_position_indicator"
			  arg-width="20px" arg-height="20px" arg-position="absolute"
			  arg-topleftTop="-10px" arg-topleftLeft="-10px"
			  arg-toprightTop="-10px" arg-toprightLeft="83px"
			  arg-bottomleftTop="86px" arg-bottomleftLeft="-10px"
			  arg-bottomrightTop="86px" arg-bottomrightLeft="83px" />
	}
	&.si_member_tooltip .statusindicator {
		<xf:macro template="at_si_macro" name="at_si_position_indicator"
			  arg-width="10px" arg-height="10px" arg-position="absolute"
			  arg-topleftTop="1px" arg-topleftLeft="0px"
			  arg-toprightTop="1px" arg-toprightLeft="48px"
			  arg-bottomleftTop="48px" arg-bottomleftLeft="0px"
			  arg-bottomrightTop="48px" arg-bottomrightLeft="48px" />
	}
	&.si_member_view .statusindicator {
		<xf:macro template="at_si_macro" name="at_si_position_indicator"
			  arg-width="20px" arg-height="20px" arg-position="relative"
			  arg-topleftTop="-201px" arg-topleftLeft="-10px"
			  arg-toprightTop="-201px" arg-toprightLeft="180px"
			  arg-bottomleftTop="-10px" arg-bottomleftLeft="-10px"
			  arg-bottomrightTop="-10px" arg-bottomrightLeft="180px" />
	}
	&.si_thread_list_macros .statusindicator {
		<xf:macro template="at_si_macro" name="at_si_position_indicator"
			  arg-width="10px" arg-height="10px" arg-position="relative"
			  arg-topleftTop="-41px" arg-topleftLeft="-5px"
			  arg-toprightTop="-41px" arg-toprightLeft="31px"
			  arg-bottomleftTop="-6px" arg-bottomleftLeft="-5px"
			  arg-bottomrightTop="-6px" arg-bottomrightLeft="31px" />
	}
	@media (max-width: @xf-responsiveMedium)
	{
		&.si_message_macros .statusindicator {
			<xf:macro template="at_si_macro" name="at_si_position_indicator"
				  arg-width="10px" arg-height="10px" arg-position="absolute"
				  arg-topleftTop="-5px" arg-topleftLeft="-5px"
				  arg-toprightTop="-5px" arg-toprightLeft="42px"
				  arg-bottomleftTop="42px" arg-bottomleftLeft="-5px"
				  arg-bottomrightTop="42px" arg-bottomrightLeft="42px" />
		}
		&.si_member_tooltip .statusindicator {
			<xf:macro template="at_si_macro" name="at_si_position_indicator"
				  arg-width="10px" arg-height="10px" arg-position="absolute"
				  arg-topleftTop="1px" arg-topleftLeft="1px"
				  arg-toprightTop="1px" arg-toprightLeft="48px"
				  arg-bottomleftTop="48px" arg-bottomleftLeft="1px"
				  arg-bottomrightTop="48px" arg-bottomrightLeft="48px" />
		}
		&.si_member_view .statusindicator {
			<xf:macro template="at_si_macro" name="at_si_position_indicator"
				  arg-width="10px" arg-height="10px" arg-position="relative"
				  arg-topleftTop="-97px" arg-topleftLeft="0px"
				  arg-toprightTop="-97px" arg-toprightLeft="87px"
				  arg-bottomleftTop="-10px" arg-bottomleftLeft="0px"
				  arg-bottomrightTop="-10px" arg-bottomrightLeft="87px" />
		}
		&.si_member_view.status_indicator--online .statusindicator{
			<xf:macro template="at_si_macro" name="at_si_position_indicator"
				  arg-width="10px" arg-height="10px" arg-position="relative"
				  arg-topleftTop="-102px" arg-topleftLeft="-2px"
				  arg-toprightTop="-102px" arg-toprightLeft="90px"
				  arg-bottomleftTop="-5px" arg-bottomleftLeft="-5px"
				  arg-bottomrightTop="-5px" arg-bottomrightLeft="90px" />			
		}
	}
	@media (max-width: @xf-responsiveNarrow)
		{
		&.si_member_view .statusindicator {
			display: none;
		}
	}
	
	&.status_indicator--online .statusindicator {

		&:before,
		&:after {
			display: block;
			height:10px;
			width:20px;
			content: '';
			background-color: rgb(255, 255, 0);
		}
		&:before {
			border-radius:100px 100px 0 0;
			animation: spin1 0.5s infinite linear;
		}
		&:after {
			border-radius:0 0 100px 100px;
			animation: spin2 0.5s infinite linear;
		}
	}
	
	@media (max-width: @xf-publicNavCollapseWidth) {
		&.status_indicator--online .statusindicator {
			&:before,
			&:after {
				height:5px;
				width:10px;
			}
		}
	}
	
	&.si_member_tooltip.status_indicator--online .statusindicator,
	&.si_thread_list_macros.status_indicator--online .statusindicator {

		&:before,
		&:after {
			height:5px;
			width:10px;
		}
	}

	&.status_indicator--invisible .statusindicator {
		border: 3px solid #ffff00;
		border-radius: 50px;
	}
	&.status_indicator--offline .statusindicator {
		background: #ffff00;
		border-radius: 50px;
	}
}

@keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
}
@keyframes spin2 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(35deg);}	
}
@-moz-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
}
@-moz-keyframes spin2 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(35deg);}	
}
@-webkit-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
}
@-webkit-keyframes spin2 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(35deg);}	
}