<xf:macro name="at_si_position_indicator" arg-width="14px" arg-height="14px" arg-position="absolute"
		  arg-topleftTop="-1px" arg-topleftLeft="-1px"
		  arg-toprightTop="-1px" arg-toprightLeft="83px"
		  arg-bottomleftTop="83px" arg-bottomleftLeft="-1px"
		  arg-bottomrightTop="83px" arg-bottomrightLeft="83px" >
	display: block;
	width: {$width};
	height: {$height};
	position: {$position};
	<xf:if is="property('at_si_position') == 'topleft'">
		top: {$topleftTop};
		left: {$topleftLeft};
	<xf:elseif is="property('at_si_position') == 'topright'" />
		top: {$toprightTop};
		left: {$toprightLeft};
	<xf:elseif is="property('at_si_position') == 'bottomleft'" />
		top: {$bottomleftTop};
		left: {$bottomleftLeft};
	<xf:elseif is="property('at_si_position') == 'bottomright'" />
		top: {$bottomrightTop};
		left: {$bottomrightLeft};
	<xf:elseif is="property('at_si_position') == 'custom'" />
		.xf-at_si_position_custom();
	</xf:if>
</xf:macro>